body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.orange-color{
    color: orange;
}

.half-width{
    width: 50%;
    margin-left: 100px;
    margin-bottom: 100pxgit;
    
}

.half-width img{
        width: 100%;
        
}

.fexible-container{
    display: flex;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.bream-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
    
}
.experience-item{
    width: 40%;
    margin-left: 70px;
    margin-right: 100px;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
}